PORT=3000

# Postgres Database 
DB_HOST=localhost
DB_PORT=5432
DB_NAME=agile_notes
DB_USER=user_name
DB_PASSWORD=user_password

JWT_SECRET=sdashasoiasddasdas+965asd56+asd
JWT_EXPIRES_IN = 30d

DEFAULT_USER_ID=1

NODE_ENV=development

CORS_ORIGIN =http://localhost:7053

EXTERNAL_STATIC_TOKEN=da6s54sa65saasasd51
AUTH_SOURCE=external

